.design-process{


  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
  padding-bottom: 2em;
 
}


.design-process-image{

width:50%;
justify-content: center;




}
div.polaroid {
  width: 100%;
  background-color:  #262223;
  text-align: center;
  color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
 text-align: center;
  padding: 10px ;
}




.process1{


  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  width :50%;
  height:auto;
  
  
}


.process1 div{
  

  
  width:90%;
  
}




.process1 div:after {
  display:block;
  content: '';
  border-bottom: solid 5px#262223;  
  border-radius: 5px;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.process1 div:hover:after { transform: scaleX(1); }

.process2{


  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;

  width :50%;
  height:auto;
  
  
}


.process2 div{
  

  
  width:90%;
}


  
  @media screen and (max-width: 80em) {

    .design-process{

      display:flex;
      flex-direction: column;
      width :100%;
    }
    .design-process-image{

      width :100%;
    }

    div.polaroid{

      width :100%;
      justify-content:center ;
    }

    .process1{


      display:flex;
      flex-direction: column;
      width :100%;
    }
    
    .process1 div{
      width:80%;
    }

    .process2{


      display:flex;
      flex-direction: column;
      width :100%;
    }
    
    .process2 div{
      width:80%;
    }
}
  


